{{ define "main" }}
  {{ range sort (where .Paginator.Pages ".Params.unlisted" "!=" "true") }}
  <article class="markdown book-post">
    <h2>
      <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
    </h2>
    {{ partial "docs/post-meta" . }}
    <p>
      {{ with .Params.description }}
        {{ . }}
      {{ else }}
        {{- .Summary -}}
        {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
        {{ end }}
      {{ end }}
    </p>
  </article>
  {{ end }}

  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
